/* * Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "antd/dist/antd.css";

/* * Parametrs */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

/* * Colors */
:root {
  --primaryColor: #0152ae;
  --secondaryColor: #000000;
  --activeColor: #ffffff;
}

/* * Heper classes */
.title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 49px;
  letter-spacing: 0.02em;
  color: #066ac9;
}

.sub-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
}
/* * text-center */
.block-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popover {
  font-size: 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  transition-duration: 0.5s;
}

.popover:hover {
  color: var(--primaryColor);
}

.center {
  text-align: center;
}

input {
  outline: none;
}

input:focus{
    outline: none;
    box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4); 
}
textarea {
  outline: none;
  resize: none;
}

textarea:focus{
  outline: none;
  box-shadow: 0 0 0 3px rgba(21, 156, 228, 0.4); 
}

button {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:active {
  transform: scale(0.98);
  opacity: 0.8;
}

.icons:active {
  fill: black;
}
